.wrapper_header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 40px;
}

.menu_header {
    font-size: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}